html {
    font-size: 62.5%;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    margin: 0;
    padding: 0;
    height: 100vh;
}
.Container {
    display: flex;
    height: 100%;
    /* flex-wrap: wrap ; */
    flex-direction: column;
}

header {
    display: flex;
    flex-shrink: 1;
    justify-content: center;
    align-items: center;
    padding: 1rem 4rem 1rem 4rem;
    border-bottom: 0.1rem solid black;
    height: 3rem;
}

header nav a {
    margin: 2rem;
    text-decoration: none;
    color: black;
    font-size: large;

}

.Produtos_main {
    display: flex;
    flex-grow: 1;
    height: 50%;
    background-color: rgb(224, 222, 222);
    padding: 2rem;
}

.Produtos_novos {
    display: flex;
    flex-grow: 1;
    height: 50%;
    background-color: rgb(224, 222, 222);
    padding: 2rem;

}

button {
    cursor: pointer;
    border-radius: 2rem;
    width: 15rem;
    height: 3rem;
    border:  transparent;
}

.Produto {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 200px;
    background-color: white;
    margin: 1rem;
    align-items: center;
    font-family: sans-serif;
    justify-content: space-around;
    padding: 1%;
    border-radius: 15px;
}

.Produto_novo {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 20rem;
    background-color: white;
    margin: 1rem;
    align-items: center;
    justify-content: space-around;
}

.Produto img {
    width: 20rem;
}

.Produto_novo img {
    width: 20rem;
}

.Produto h1 {
    color: black;
    font-size: x-large;
    margin: 0;
}

.Produto_novo h1 {
    color: black;
    font-size: x-large;
    margin: 0;
}
.Produto h2 {
    color: black;
    font-size: x-large;
    margin: 0;
}

.Produto_novo h2 {
    color: black;
    font-size: x-large;
    margin: 0;
}

#Titulo_novos_produtos {
    display: flex;
    padding-left: 3rem;
    background-color: rgb(224, 222, 222);
}
#Titulo_novos_produtos h1 {
    margin: 0;
    font-family: sans-serif;
    font-size: 2rem;
}


@media screen and (max-width:820px) {
    body{
        height: 100%;
    }
    #Titulo_novos_produtos h1 {
        margin: 2rem;
        font-family: sans-serif;
        font-size: 4rem;
    }
    .Container {
        display: flex;
        height: 100%;
        /* flex-wrap: wrap ; */
        flex-direction: column;
    }
    
    header {
        display: flex;
        flex-shrink: 1;
        justify-content: center;
        align-items: center;
        font-family: sans-serif;
        padding: 1rem 4rem 1rem 4rem;
        border-bottom: 0.1rem solid black;
        height: 6rem;
    }
    
    header nav a {
        margin: 2rem;
        text-decoration: none;
        color: black;
        font-size: large;
    
    }
    
    .Produtos_main {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 50%;
        background-color: rgb(224, 222, 222);
        padding: 2rem;
    }
    
    .Produtos_novos {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 50%;
        background-color: rgb(224, 222, 222);
        padding: 2rem;
    
    }
    
    button {
        cursor: pointer;
        margin: 10px;
        border-radius: 2rem;
        font-size: 2rem;
        width: 15rem;
        height: 4rem;
        margin: 5px;
        border:  transparent;
    }
    
    .Produto {
        display: flex;
        flex-direction: column;
        width: 500px;
        flex-grow: 1;
        flex-shrink: 1;
        flex-basis: 200px;
        background-color: white;
        margin: 1rem;
        align-items: center;
        font-family: sans-serif;
        padding: 1%;
        border-radius: 15px;
    }
    
    .Produto_novo {
        display: flex;
        flex-direction: column;
        border-radius: 15px;
        font-family: sans-serif;
        width: 500px;
        flex-grow: 1;
        flex-shrink: 1;
        flex-basis: 20rem;
        background-color: white;
        margin: 1rem;
        align-items: center;
        justify-content: space-around;
    }
    
    .Produto img {
        width: 40rem;
    }
    
    .Produto_novo img {
        width: 40rem;
    }
    
    .Produto h1 {
        color: black;
        font-size: xx-large;
        margin: 0;
    }
    
    .Produto_novo h1 {
        color: black;
        font-size: xx-large;
        margin: 0;
    }
    .Produto h2 {
        color: black;
        font-size: xx-large;
        margin: 0;
    }
    
    .Produto_novo h2 {
        color: black;
        font-size: xx-large;
        margin: 0;
    }
    
    
}
@media screen and (max-width: 390px) {
    body{
        height: 100%;
    }
    #Titulo_novos_produtos h1 {
        margin: 0;
        font-family: sans-serif;
        font-size: 2rem;
    }
    .Container {
        display: flex;
        height: 100%;
        /* flex-wrap: wrap ; */
        flex-direction: column;
    }
    
    header {
        display: flex;
        flex-shrink: 1;
        font-family: sans-serif;
        justify-content: center;
        align-items: center;
        padding: 1rem 4rem 1rem 4rem;
        border-bottom: 0.1rem solid black;
        height: 4rem;
    }
    
    header nav a {
        margin: 2rem;
        text-decoration: none;
        color: black;
        font-size: large;
    
    }
    
    .Produtos_main {
        display: flex;
        flex-direction: column;
        height: 50%;
        background-color: rgb(224, 222, 222);
        padding: 2rem;
    }
    
    .Produtos_novos {
        display: flex;
        flex-direction: column;
        height: 50%;
        background-color: rgb(224, 222, 222);
        padding: 2rem;
    
    }
    
    button {
        cursor: pointer;
        border-radius: 2rem;
        width: 15rem;
        height: 3rem;
        margin: 5px;
        border:  transparent;
    }
    
    .Produto {
        display: flex;
        flex-direction: column;
        width: 350px;
        flex-grow: 1;
        flex-shrink: 1;
        flex-basis: 200px;
        background-color: white;
        margin: 1rem;
        align-items: center;
        font-family: sans-serif;
        justify-content: space-around;
        padding: 1%;
        border-radius: 15px;
    }
    
    .Produto_novo {
        display: flex;
        flex-direction: column;
        border-radius: 15px;
        width: 350px;
        flex-grow: 1;
        flex-shrink: 1;
        flex-basis: 20rem;
        background-color: white;
        margin: 1rem;
        align-items: center;
        justify-content: space-around;
    }
    
    .Produto img {
        width: 20rem;
    }
    
    .Produto_novo img {
        width: 20rem;
    }
    
    .Produto h1 {
        color: black;
        font-size: x-large;
        margin: 0;
    }
    
    .Produto_novo h1 {
        color: black;
        font-size: x-large;
        margin: 0;
    }
    .Produto h2 {
        color: black;
        font-size: x-large;
        margin: 0;
    }
    
    .Produto_novo h2 {
        color: black;
        font-size: x-large;
        margin: 0;
    }
    
}